# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
React Booking _ Reservation App UI Design for Beginners.mp4
React Node.js Booking App Full Tutorial _ MERN Stack Reservation App (JWT, Cooki.mp4
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
